<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="CONTENT-TYPE" content="text/html">
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <!--head模块-->
    {#block name = head#}
        <meta name="keywords" content="晶钢门">
        <meta name="description" content="晶钢门">
        <title>晶钢门批发-门市网</title>
    {#/block#}

</head>
<body>
    <!--nav导航模块-->
    {#block name = nav#}{#/block#}
    <!--内容模块-->
    {#block name = content#}{#/block#}
    <!--页脚模块-->
    {#block name = footer#}{#/block#}
    <!--脚本模块-->
    {#block name = script#}{#/block#}

</body>
</html>