{#include file='@app/views/common/header.html'#}
<meta name="keywords" content="晶钢门">
<meta name="description" content="晶钢门">
<title>我的产品</title>
<style>
    .pro-tab{width: 100%;}
</style>
</head>
<body>
{#include file='@app/views/common/nav.html'#}

<div class="content">
    <div class="content-box">
        <!--左侧二级导航条-->
        {#include file='@app/views/usercenter/factory/secNav.html'#}
        <!--右侧内容模块-->
        <div class="content-r">
            <div class="search-div">
                搜索框：快速查找
            </div>
            <div class="pro-show">
                <table class="pro-tab">
                    <thead>
                    <tr>
                        <td>货号</td>
                        <td>批发价</td>
                        <td>颜色</td>
                        <td>贴膜</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>金亮-1001</td>
                        <td>125</td>
                        <td>红色</td>
                        <td>繁花似锦</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

{#include file='@app/views/common/footer.html'#}

{#include file='@app/views/common/script.html'#}
</body>
</html>